<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Socket.IO whiteboard</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>

    <div id="container"></div>

    <script src="/socket.io/socket.io.js"></script>
    <script src="js/three.min.js"></script>
    <script src="main.js"></script>
    <script>
    
    const socket = io();
    //scene Attributes
    const WIDTH = 1920;
    const HEIGHT = 1080;

    const VIEW_ANGLE = 45;
    const ASPECT = WIDTH / HEIGHT;
    const NEAR = 0.1;
    const FAR = 10000;

    const container = document.querySelector('#container');

    //creates webGL render,camera and scene
    const renderer = new THREE.WebGLRenderer();
    const scene = new THREE.Scene();
    const camera = new THREE.PerspectiveCamera(
        VIEW_ANGLE,
        ASPECT,
        NEAR,
        FAR
    );
        
    //setting up sphere vars
    const RADIUS = 50;
    const SEGMENTS = 16;
    const RINGS = 16;    
    
    //create sphere's material
    const sphereMaterial = new THREE.MeshLambertMaterial({
       color: 0xCC0000
    });
    
    //creates mesh
    const sphere = new THREE.Mesh(
        
        new THREE.SphereGeometry(
            RADIUS,
            SEGMENTS,
            RINGS),
        sphereMaterial);
    
    //move sphere to visable point on Z axis
    sphere.position.z = -300;
    
    //PARTICLES
    var pMaterial = new THREE.PointCloudMaterial({
          color: 0xffffcc
    });
    var geometry = new THREE.Geometry();
    var x,y,z;
    _.times(1000, function(n){
       x = (Mat.random() * 800)-400;
       y =
    });
        
    
    //creates point light
    const pointLight = new THREE.PointLight(0xFFFFFF);
    
    //set light position
    pointLight.position.x = 10;
    pointLight.position.y = 50;
    pointLight.position.z = 130;
    
    //adds Camera
    scene.add(camera);
    //add to the scene
    scene.add(pointLight);
    //add sphere to scene
    scene.add(sphere);
  
    
    //starts render
    renderer.setSize(WIDTH,HEIGHT);
    
    //attach render to DOM element
    container.appendChild(renderer.domElement);
    

    
function update(){

  // draw
  renderer.render(scene, camera);

  // set up the next call
  requestAnimFrame(update);
        }
        requestAnimationFrame(update);
    
    </script>
       
</body>

</html>
