<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Socket.IO whiteboard</title>
  <link rel="stylesheet" href="style.css">
</head>
<body>
    <video id="displayVid" style="" autoplay>
    <source src="https://mysound.cad.rit.edu/exhibit/animations/display/displayOne.mp4" type='video/mp4; codecs="avc1.42E01E"' />
    </video>

  <canvas class="display" id="buffer" width="1920" height="1080"></canvas>
  <canvas class="display" id="output" width="640" height="360"></canvas>
    
  <script src="/socket.io/socket.io.js"></script>    
  <!--<script src="display.js"></script>-->
  <script>
  
function start(){
var outputCanvas = document.getElementById('output'),
output = outputCanvas.getContext('2d'),
bufferCanvas = document.getElementById('buffer'),
buffer = bufferCanvas.getContext('2d'),
video = document.getElementById('displayVid'),
width = outputCanvas.width,
height = outputCanvas.height,
interval;
outputCanvas.width = window.innerWidth;
    outputCanvas.height = window.innerHeight;
 
function processFrame() {
    buffer.drawImage(video, 0, 0);
 
        // this can be done without alphaData, except in Firefox which doesn't like it when image is bigger than the canvas
    var image = buffer.getImageData(0, 0, width, height),
    imageData = image.data,
    alphaData = buffer.getImageData(0, height, width, height).data;
 
    for (var i = 3, len = imageData.length; i < len; i = i + 4) {
    imageData[i] = alphaData[i-1];
    }
 
    output.putImageData(image, 0, 0, 0, 0, width, height);
    console.log(imageData.length);
    console.log("test");
    }
 //processFrame();
}


 start();  
 </script>
</body>
</html>
